@import url("../assets/fonts/NotoKufiArabic-VariableFont_wght.ttf");

* {
  padding: 0;
  margin: 0;
  font-weight: 500;
  box-sizing: border-box;
}

:root {
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #443dff;
  --background: #fbfbfe;
  --text: #050316;
  --shadow: #0000001A;
}

body {
  font-family: 'Noto Kufi Arabic', sans-serif;
  background-color: var(--background);
  overflow-x: hidden;
}

/* start navbar styles  */

.navbar {
  background-color: var(--primary);
  color: var(--text);
}

.navbar .logo svg g {
  fill: var(--text);
}

.navbar .nav-options .mode,
.navbar .nav-options .language {
  background-color: var(--secondary);
}

.navbar .nav-options .mode svg,
.navbar .nav-options .language svg {
  color: var(--text);
}

.navbar .nav-options .mode .light-mode {
  padding: 3px 10px;
  border-right: 1px solid var(--text);
}

.navbar .nav-options .mode .dark-mode {
  padding: 3px 12px;
  border-left: 1px solid var(--text);
}

.navbar .nav-options .language .lang-btn {
  padding: 3px 12.9px;
}

.navbar .nav-options .language .lang-btn svg {
  pointer-events: none;
}

.navbar .nav-options .slider {
  color: var(--secondary);
}

.navbar .nav-options .slider .menu {
  background-color: var(--secondary);
  color: var(--text);
  top: 72px;
  left: -236px;
  width: 220px;
  height: calc(100vh - 72px);
  transition: all 0.3s;
  z-index: 9;
}

.navbar .nav-options .slider .menu.active {
  left: -16px;
}

.navbar .nav-options .slider .menu a {
  color: var(--text);
}

.navbar .nav-options .slider .menu a:hover,
.navbar .nav-options .slider .menu a.active {
  color: var(--accent);
}

/* end navbar styles  */

/* start add table styles */

.add-table .table {
  padding: 8px 26px;
  background-color: var(--accent);
  color: var(--text);
  cursor: pointer;
}

.add-table .table:hover {
  box-shadow: 0 5px 25px var(--shadow);
}

.add-table button {
  background-color: var(--background);
  color: var(--text);
  padding: 8px 16px;
  box-shadow: 0 5px 25px var(--shadow);
}

.add-table button svg,
.add-table button span {
  color: var(--text);
  pointer-events: none;
}

@media (min-width: 786px) {
  .add-table .tables {
    width: 75%;
  }
}

/* end add table styles */

/* start add table modal styles */

.modal-overlay {
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay.active {
  display: flex;
}

.modal-overlay .add-table-modal,
.modal-overlay .add-category-modal {
  width: 320px;
  background-color: var(--background);
  border: 1px solid var(--accent);
  color: var(--text);
  box-shadow: 0 5px 25px var(--shadow);
  animation: showModal .6s linear alternate;
}

.modal-overlay .close-modal {
  top: -15px;
  right: -7.5px;
  font-size: 30px;
}

.modal-overlay .close-modal svg {
  color: var(--accent);
  pointer-events: none;
}

.modal-overlay .add-table-modal label,
.modal-overlay .add-category-modal label,
.modal-overlay .add-table-modal p,
.modal-overlay .add-category-modal p {
  color: var(--text);
}

.modal-overlay .add-table-modal label,
.modal-overlay .add-category-modal label {
  font-size: 24px;
}

.modal-overlay .add-table-modal button,
.modal-overlay .add-category-modal button {
  color: var(--text);
  background-color: var(--accent);
  padding: 8px 12px;
}

@keyframes showModal {
  0% {
    transform: translateY(150px);
  }

  80% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(0);
  }
}

/* end add table modal styles */

/* start login, profile and register sections styles */

.client-data {
  height: calc(100vh - 72px);
}

.client-data form {
  max-width: 370px;
}

.client-data form .form-input label,
.client-data form button[type="submit"],
.client-data form .form-text {
  color: var(--text);
}

.client-data form .form-input input {
  border-color: var(--text);
}

.client-data form button[type="submit"],
.client-data form button {
  background-color: var(--accent);
  box-shadow: 0 5px 25px var(--shadow);
  color: var(--text);
  padding: 8px 12px;
}

.profile form button[type="submit"] {
  background-color: transparent;
  border: 2px solid var(--accent);
  padding: 6px 12px;
}

/* end login, profile and register sections styles */

/* start menu and categories page styles */

.menu .categories .category {
  width: 175px;
  height: 80px;
}

.menu .categories .category,
.menu .categories .add-category {
  color: var(--text);
  background-color: var(--background);
  box-shadow: 0 5px 25px var(--shadow);
}

.menu .categories .category.active {
  border: 2px solid var(--primary);
}

.menu .categories .category, 
.menu .categories .add-category {
  flex-shrink: 0;
}

.menu .categories .category .control,
.menu .categories .category .data {
  flex-grow: 1;
}

.menu .categories .category .delete-category svg,
.menu .categories .category .edit-category svg {
  color: var(--accent);
  font-size: 20px;
  pointer-events: none;
}

.menu .categories .category .data,
.menu .categories .add-category {
  padding: 20px;
}

.menu .category-items .item,
.menu .category-items .item .control .delete-item,
.menu .category-items .item .control .edit-item,
.menu .category-items .edit-item .edit-item-button,
.menu .category-items .add-item .add-item-button {
  color: var(--text);
}

.menu .category-items .item,
.menu .category-items .add-item,
.menu .category-items .edit-item {
  background-color: var(--secondary);
}

.menu .category-items .active {
  display: none;
}

.menu .category-items .item .control .delete-item,
.menu .category-items .item .control .edit-item,
.menu .category-items .edit-item .edit-item-button {
  padding: 4px 0;
}

.menu .category-items .add-item .add-item-button {
  padding: 6px 0;
}

.menu .category-items .item .control .delete-item,
.menu .category-items .add-item .add-item-button {
  background-color: var(--accent);
}

.menu .category-items .item .control .edit-item,
.menu .category-items .edit-item .edit-item-button {
  border: 2px solid var(--accent);
}

@media (max-width: 576px) {

  .menu .category-items .item,
  .menu .category-items .add-item,
  .menu .category-items form.edit-item {
    width: 293.35px;
  }
}

/* end menu and categories page styles */

/* start scrollbar styles */

::-webkit-scrollbar {
  scroll-behavior: smooth;
  background-color: var(--secondary);
  height: 10px;
}

.report-page::-webkit-scrollbar,
.details-page::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

/* end scrollbar styles */

/* start order page styles */

/* start work on order-menu */

.order-menu .section-label,
.orders-display .section-label,
.order-menu .menu-categories li,
.order-menu .category-items li {
  color: var(--text);
}

.order-menu .section-label,
.orders-display .section-label {
  background-color: var(--primary);
  padding: 12px 0;
}

.order-menu .menu-categories li {
  background-color: var(--background);
  box-shadow: 0 5px 25px var(--shadow);
  flex-shrink: 0;
  width: 200px;
  height: 80px;
}

.order-menu .menu-categories li.active {
  border: 2px solid var(--primary);
}

.order-menu .category-items li {
  background-color: var(--secondary);
  font-size: 13px;
}

/* end work on order-menu */

/* start work on chosen-orders */

.orders-display .table-container table {
  color: var(--text);
  border-color: var(--background);
  background-color: var(--secondary);
}

.orders-display .table-container table th,
.orders .table-container table th {
  font-size: 14px;
}

.orders-display .table-container table td,
.orders .table-container table td {
  font-size: 13px;
}

.orders-display .action-buttons button {
  color: var(--text);
  padding: 8px 12px;
}

.orders-display .action-buttons button {
  background-color: var(--accent);
}

/* end work on chosen-orders */

/* start print page style while printing */

.print table,
.print table tr,
.print table .print-body,
.print table .print-foot {
  border-color: var(--text);
}

.print table th,
.print table td,
.orders .cashier-name {
  color: var(--text);
}

/* end print page style while printing */

/* end order page styles */

/* start notification style */

.notification {
  background-color: var(--secondary);
  color: var(--text);
  font-size: 14px;
  pointer-events: none;
  left: 0;
  top: 50%;
  animation: notification 3s linear;
}

@keyframes notification {
  0% {
    transform: translateY(150%);
    opacity: 0;
  }

  20% {
    transform: translateY(100%);
    opacity: .5;
  }

  40% {
    transform: translateY(50%);
    opacity: 1;
  }

  60% {
    transform: translateY(0);
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  85% {
    opacity: .7;
  }

  100% {
    opacity: .3;
  }
}

/* end notification style */

/* start report file style */

/* start work on report options (menu) */

.report .options li {
  width: 200px;
  height: 80px;
  flex-shrink: 0;
  color: var(--text);
  background-color: var(--background);
  box-shadow: 0 5px 25px var(--shadow);
  cursor: pointer; /* Make li look clickable */
  transition: box-shadow 0.2s, border-color 0.2s;
}

.report .options li.active {
  border: 2px solid var(--primary);
  box-shadow: 0 8px 32px var(--shadow);
}

.report .options li:focus, .report .options li:hover {
  border-color: var(--accent);
  box-shadow: 0 8px 32px var(--shadow);
  outline: none;
}

/* end work on report options (menu) */

/* start work on report included files */

.option-details .general-report-structure .section-label,
.option-details .done-report-structure .section-label,
.option-details .canceled-report-structure .section-label,
.option-details .runout-report-structure .section-label,
.option-details .cashier-report-structure .section-label,
.done-report-structure .show-day .select-day-label,
.done-report-structure .show-rows .select-row-label,
.done-report-structure table td,
.canceled-report-structure .show-day .select-day-label,
.canceled-report-structure .show-rows .select-row-label,
.canceled-report-structure table td,
.runout-report-structure .quantity-search-label,
.runout-report-structure table td,
.cashier-report-structure .select-day-label,
.done-report-structure .pagination a,
.canceled-report-structure .pagination a,
.done-report-structure button,
.canceled-report-structure button,
.runout-report-structure button,
.cashier-report-structure .day-button,
.details dt,
.details dd {
  color: var(--text);
}

.option-details .general-report-structure .section-label,
.option-details .done-report-structure .section-label,
.option-details .canceled-report-structure .section-label,
.option-details .runout-report-structure .section-label,
.option-details .cashier-report-structure .section-label {
  background-color: var(--primary);
  padding: 12px 0;
}

.option-details .general-report-structure .section-label svg,
.option-details .done-report-structure .section-label svg,
.option-details .canceled-report-structure .section-label svg,
.option-details .runout-report-structure .section-label svg,
.option-details .cashier-report-structure .section-label svg {
  margin: 2px 0 -2px;
}

.done-report-structure .done-table-container,
.canceled-report-structure .canceled-table-container,
.runout-report-structure .runout-table-container {
  overflow-y: hidden;
}

.done-report-structure table,
.canceled-report-structure table,
.runout-report-structure table,
.done-report-structure .pagination a,
.canceled-report-structure .pagination a,
.runout-report-structure .quantity-search {
  border-color: var(--background);
}

.done-report-structure table,
.canceled-report-structure table,
.runout-report-structure table {
  background-color: var(--secondary);
}

.done-report-structure table td,
.canceled-report-structure table td,
.runout-report-structure table td {
  background-color: transparent;
  text-align: center;
}

.done-report-structure table td,
.canceled-report-structure table td {
  cursor: pointer;
}

.done-report-structure table thead tr,
.canceled-report-structure table thead tr,
.runout-report-structure table thead tr {
  pointer-events: none;
}

.done-report-structure .pagination a,
.canceled-report-structure .pagination a,
.done-report-structure button,
.canceled-report-structure button,
.runout-report-structure button,
.cashier-report-structure .day-button {
  background-color: var(--accent);
}

.done-report-structure button,
.canceled-report-structure button,
.runout-report-structure button,
.cashier-report-structure .day-button,
.runout-report-structure .quantity-search {
  padding: 4px 12px;
}

.runout-report-structure .quantity-search {
  outline: none;
}

.general-chart canvas,
.done-chart canvas,
.canceled-chart canvas {
  max-width: 500px;
  max-height: 255px;
}

.runout-report-structure,
.cashier-report-structure {
  max-width: 500px;
}

@media (max-width: 324px) {
  .option-details .general-details>div {
    min-width: 200px;
    min-height: 80px;
    margin: 16px auto 0;
  }
}

@media (min-width: 992px) {

  .done-report-structure .done-table-container,
  .canceled-report-structure .canceled-table-container {
    margin-bottom: 16px;
  }
}

/* end work on report included files */

/* start work on report-general file styles */

.option-details .general-details>div {
  min-width: 155px;
  min-height: 80px;
}

.option-details .general-details>div>div {
  background-color: var(--secondary);
  color: var(--text);
}

.option-details .general-details>div>div .detail-logo {
  top: 6px;
  right: 6px;
  opacity: 0.2;
}

/* end work on report-general file styles */

/* start cashier report file style */

.cashier-report-structure .accordion .accordion-item button {
  background-color: var(--secondary);
  color: var(--background);
}

.cashier-report-structure .general-details>div>div {
  border: 1px solid var(--text);
}

.cashier-report-structure .accordion .accordion-item .accordion-button:after {
  filter: invert(100%);
}

/* end cashier report file style */

/* end report file style */